@model FND.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "Login";
}
<style>
    .login-page {
        background: url('@Url.Content("~/images/Back.png")') no-repeat center center fixed;
        background-size: cover;
        opacity: 1.0;
        min-height: 100vh;
    }

    .centered-text {
            text-align: center;
            font-weight: bold;
            font-family: 'Arial', sans-serif;
    }
</style>
<div class="row  login-page centered-text">
    <div class="col-md-4 offset-md-4 d-flex flex-column align-items-center">
        <form asp-action="Login">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RememberMe"/> @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
            <div>
                <a asp-action="Register">Register</a>
            </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
