<!-- list Categores -->
@model List<ApplicationUser>
<table class="table">
    <tr>   
        <th>الاسم</th>
        <th>الموقع</th>
        <th>النشاط</th>
        <th>رقم الهاتف</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>      
            <td>@item.UserName</td>
            <td>@item.Address</td>
            <td>@item.IsActive</td>
            <td>@item.PhoneNumber</td>
        </tr>
    }
</table>
