@{
    ViewData["Title"] = "Predict";
}

<h1>Predict</h1>

<form asp-controller="Prediction" asp-action="Predict" method="post">
    <label for="textInput">Enter your text:</label><br />
    <input type="text" id="textInput" name="s" /><br />
    <button type="submit">Predict</button>
</form>

@if (ViewBag.Prediction != null)
{
    <h2>Prediction:</h2>
    <p>@ViewBag.Prediction</p>
}
