<!-- list News -->
@model List<News>
<div class="container row text-center">
    @foreach (var item in Model)
    {
        <div class="  col-md-4 pb-1 pb-md-0  ">
            <div class="card">
                <img class="card-img-top" src="~/images/@item.image" alt="Card image cap" style="width: 100%; height: 300px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.Content </p>
                    <p class="card-text">@item.CreatedAt</p>
                    @if(item.IsFake == false)
                    {
                        <p class="Fake-Text">This News is Fake</p> 
                    }
                </div>
           </div>
      </div>
    }
</div>
